{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="../../static/project_image/css/style.css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bimabot.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
        
        
    
    </head>

    <class='container'>
        this is container
    </div>
</html>
    
{% block content %} <!-- Main Content Block -->
<!-- Place your main content here -->
{% endblock content %}

{% block footer %} <!-- Footer Block -->
<!-- Optional Footer Content Here -->
<div class="text-center mt-5 fully-transparent-container">
    This website was developed by Ankit | All rights reserved @
</div>
{% endblock footer %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>






